@{
    Layout = null;
}

@{
    var currentCulture = CultureInfo.CurrentCulture.Name;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <title>@localizer.GetKey("Alparslan Akbaş Web Developer").Value</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Alparslan Akbaş, Web Developer, .Net Developer" name="keywords">
    <meta content="Web Developer" name="description">
    <meta name="google-site-verification" content="x9kps-U_wnxOncrBOcipvwA6pZ9VOUhfZsdl0GfrqQQ" />


    <!-- Favicon -->
    <link href="~/portfolyo/img/8983107.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/portfolyo/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/portfolyo/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/portfolyo/css/style.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Navbar Başlangıcı -->
    @await Html.PartialAsync(nameof(HakkımdaController.Navbar))
    <!-- Navbar Bitişi -->
    <!-- Header Başlangıcı -->
    @await Html.PartialAsync(nameof(HakkımdaController.Header))
    <!-- Header Bitişi -->
    <!-- Hakkımda Başlangıcı -->
    @await Html.PartialAsync(nameof(HakkımdaController.Hakkımda))
    <!-- Hakkımda Bitişi -->
    <!-- Eğitim ve Deneyim Başlangıcı -->
    @await Html.PartialAsync(nameof(HakkımdaController.Eğitim))
    <!-- Eğitim ve Deneyim Bitişi -->
    <!-- Yetenekler Başlangıcı -->
    @await Html.PartialAsync(nameof(HakkımdaController.Yetenek))
    <!-- Yetenekler Bitişi -->
    <!-- Hizmetler Başlangıcı -->
    @await Html.PartialAsync(nameof(HakkımdaController.Hizmet))
    <!-- Hizmetler Bitişi -->
    <!-- Projeler Başlangıcı -->
    @await Html.PartialAsync(nameof(HakkımdaController.Proje))
    <!-- Projeler Bitişi -->
    <!-- Sözler Başlangıcı -->
    @await Html.PartialAsync(nameof(HakkımdaController.Sözler))
    <!-- Sözler Bitişi -->
    <!-- İletişim Başlangıcı -->
    @await Html.PartialAsync(nameof(HakkımdaController.İletişim))
    <!-- İletişim Bitişi -->
    <!-- Footer Start -->
    <div class="container-fluid bg-info text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="container text-center py-5">
            <div class="d-flex justify-content-center mb-4">
                <a class="btn btn-light btn-social mr-2" href="https://twitter.com/ProfDrAlparslan"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-light btn-social mr-2" href="https://www.facebook.com/legolastht/"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-light btn-social mr-2" href="https://www.linkedin.com/in/alparslanakbas/"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-light btn-social" href="https://www.instagram.com/legolas.trr/"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="m-0">
                &copy; <a class="text-white font-weight-bold" href="https://alparslanakbas.org.tr/">Alparslan Akbaş</a>. Bütün Hakları Saklıdır. Tasarım <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a> Tarafından Alıntılanmıştır.
            </p>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Scroll to Bottom -->
    <i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

    <!-- Back to Top -->
    <a href="#" class="btn btn-outline-dark px-0 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/portfolyo/lib/typed/typed.min.js"></script>
    <script src="~/portfolyo/lib/easing/easing.min.js"></script>
    <script src="~/portfolyo/lib/waypoints/waypoints.min.js"></script>
    <script src="~/portfolyo/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/portfolyo/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/portfolyo/lib/lightbox/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <!-- Contact Javascript File -->
    <script src="~/portfolyo/mail/jqBootstrapValidation.min.js"></script>
    <!-- Template Javascript -->
    <script src="~/portfolyo/js/main.js"></script>
</body>
</html>

@await Component.InvokeAsync("NToastNotify")