@{
    Layout = null;
}
@model LoginAuthDto
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Giriş</title>

    <link href="~/AdminTema5/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminTema5/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/AdminTema5/css/animate.css" rel="stylesheet">
    <link href="~/AdminTema5/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div style="margin-top:200px;">
            <p><strong>Projelerim ve Bloglarıma Giriş Sistemi</strong></p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form class="m-t" asp-controller="AuthMvc" asp-action="Login" asp-for-validation="" method="post">
                <div class="form-group">
                    <input type="email" asp-for="Email" class="form-control" placeholder="Mail Adresi" required="">
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Şifre" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Giriş</button>
                @if (!string.IsNullOrEmpty(ViewBag.Hata))
                {
                    <div class="alert alert-warning">@ViewBag.Hata</div>
                }
            </form>
            <p class="m-t"> <small href="https://alparslanakbas.org.tr">Alparslan Akbaş Production</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/AdminTema5/js/jquery-3.1.1.min.js"></script>
    <script src="~/AdminTema5/js/popper.min.js"></script>
    <script src="~/AdminTema5/js/bootstrap.js"></script>

</body>

</html>
